{% extends "base.html" %}

{% block content %}
  <div class="jumbotron bg-dark-subtle">
    <div class="container">
      <h1>
        {% trans %}Login{% endtrans %}
      </h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col offset-md-2 col-lg-6 offset-lg-3">
        {% include "components/errors.html" %}

        {% if integrations.mlc() %}
          <a class="btn btn-secondary btn-lg btn-block w-100" href="{{ url_for('auth.oauth_login') }}">
            Login with Major League Cyber
          </a>

          <hr>
        {% endif %}

        {% with form = Forms.auth.LoginForm() %}
          <form method="post" accept-charset="utf-8">
            <div class="mb-3">
              <b>{{ form.name.label(class="form-label") }}</b>
              {{ form.name(class="form-control", value=name, autocomplete="username email") }}
            </div>

            <div class="mb-3">
              <b>{{ form.password.label(class="form-label") }}</b>
              {{ form.password(class="form-control", value=password, autocomplete="current-password") }}
            </div>

            <div class="mb-3">
              {{ form.submit(class="btn btn-primary w-100") }}
            </div>

            <div class="d-flex justify-content-center gap-3 small">
              <a href="{{ url_for('auth.register') }}">Don't have an account?</a>
              <a href="{{ url_for('auth.reset_password') }}">Forgot password?</a>
            </div>
            {{ form.nonce() }}
          </form>
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}
